<% provide(:title, "Top") %>

<div class="jumbotron text-center">
  <h1>勤怠システム</h1>
  <%= link_to "ログイン", '#', class: "btn btn-lg btn-primary login-btn" %>
  <p>
    アカウント作成は<%= link_to "こちら", '#' %>から
  </p>
</div>
