<% provide(:title, "ユーザー一覧") %>
<h1>ユーザー一覧</h1>

<div>
  <table class="table table-condensed users-table">
    <tr>
      <th>氏名</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
      </tr>
    <% end %>
  </table>
</div>