@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  text-align: center;
}

body {
  padding-top: 60px;
}

.text-center {
  text-align: center;
}

#logo {
  color: white;
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

//debug
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}