.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  margin-left: 20px;
  width: auto;
  span {
    font-weight: normal;
  }
}

.to-make-account {
  margin-top: 5px;
}