.user-table {
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 20px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.label-basic-info--edit {
  margin-top: 5px;
}

.btn-basic-info--edit {
  margin-top: 10px;
}

