.btn-search {
  margin-right: 3px;
}

table.user-table {
  tr td {
    text-align: center;
    vertical-align: middle;
  }
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 20px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.label-basic-info--edit {
  margin-top: 5px;
}

.btn-basic-info--edit {
  margin-top: 10px;
}

.prev-month-btn {
  margin-right: 10px;
}

.next-month-btn {
  margin-left: 10px;
}

.to-edit-attendances-btn {
  margin-bottom: 5px;
  background-color: rgb(230,230,230);
  color: black;
  outline-color: black;
}

.attendance-btn {
  background-color: rgb(230,230,230);
  color: black;
  outline-color: black;
}

#table-attendances {
  th {
    text-align: center;
    &.with-rowspan {
      vertical-align: middle;
    }
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.users-table {
  .edit-btn {
    margin-left: 30px;
  }
}
